@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Orange Theme */
  --color-primary: #f97316; /* Orange 500 */
  --color-primary-foreground: #ffffff;
  --color-secondary: #ffedd5; /* Orange 100 */
  --color-secondary-foreground: #9a3412; /* Orange 900 */
  --color-accent: #fdba74; /* Orange 300 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
